*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }


    
    
    #navbar{
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: absolute;
        align-items: center;
        /* position: fixed */
        /* position: relative */
        

    }
    #navbar  div li {
        display: flex;
        text-transform: uppercase;
        list-style: none;
      
        
       
    }

    #navbar  h1 a{
        display: flex;
        text-decoration: none;
        color: #050505;
       font-family: Arial, Helvetica, sans-serif;  
        color: white;
        margin-left: 140%;
        
        
        
    }

 
    #navbar .icon{
        display: flex;
        
    }

    #navbar  div nav  a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        gap: 20px;
        color: white;
        margin-top: 30px;

        
        
    }
    #navbar h1 {
        display: flex;
        margin-top: 20px;
        align-items: center;
       
        
    
    }

    #navbar  div nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        gap: 20px;

        
        
    }


    #navbar  div nav ul li a:hover{
        display: flex;
        justify-content: space-between; 
        color:brown;
    }
    #navbar  .button {
        margin-left: -300px;
        margin-top: 20px;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        border-radius: 20px;
        color: black;
        /* margin-right: 300px; */
        background-color: white;  
        /* transition: all 2s ease ; */
    }
    #navbar .button:hover{
    transition: all linear 1s ;
        transform: rotateY(360deg) scale(1.2 , 1);
        background-color: red;
    }
    .btn-box a{
        border-radius: 5px;
        background-color: white;
        border: 1px solid white;
        color: #62d2a2;

    }
      .image{
        /* position: absolute; */
        display: flex;
        width: 100%;
        height:720px;
        justify-content: center;
        align-items: center;
        background-image: url(./images/logo.png);
        background-repeat: no-repeat;
        background-size: cover;
        
        
    
    }
     .detail-box h1 {
        font-size: 3rem;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 15px;
        color: #ffffff;
        font-family:'Nunito', sans-serif;    
    }
    .detail-box p{
        font-size: 14px;
        color: #ffff;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
        
        
    }
    .detail-box{
    margin-left: -40%;
    margin-top: -10%;
    }
   
    

    


    
    
