*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }


    
    
    #navbar{
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: absolute;
        border: 0px solid black;
        /* background-color: #3ea78f; */
        height: 75px;
        align-items: center;
        /* position: fixed */
        /* position: relative */
        

    }
    #navbar  div li {
        display: flex;
        text-transform: uppercase;
        list-style: none;
      
        
       
    }

    #navbar  h1 a{
        display: flex;
        text-decoration: none;
        color: #050505;
       font-family: Arial, Helvetica, sans-serif;  
        color: white;
        margin-left: 0%;
        font-size: 22px;
        
        
        
    }

 
    #navbar .icon{
        display: flex;
        
    }

    #navbar  div nav  a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        gap: 20px;
        color: white;
        margin-top: 30px;

        
        
    }
    #navbar h1 {
        display: flex;
        margin-top: 20px;
        align-items: center;
       
        
    
    }

    #navbar  div nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        gap: 20px;

        
        
    }


    #navbar  div nav ul li a:hover{
        display: flex;
        justify-content: space-between; 
        color:rgb(74, 240, 91);
    }

    #navbar  div nav ul li a i:hover{
    color: rgb(74, 240, 91) !important;
    

  }
    #navbar  .button {
        margin-left: -100%;
        text-decoration: none;
        margin-top: 40px;
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    height: 40px;
        border-radius: 20px;
        color: black;
        margin-right: 0%;
        background-color: white;  
        /* transition: all 2s ease ; */
    }
    #navbar a{
        text-decoration: none;
    }
    #navbar .button:hover{
    /* transition: all linear 1s ; */
        /* transform: rotateY(360deg) scale(1.2 , 1); */
        background-color: rgb(21, 238, 46);
        color: white;
        
    }
    .btn-box a{
        display: flex;
        border-radius: 5px;
        background-color: white;
        border: 7px solid white;
        color: #62d2a2;
        padding:  10px 1px;
        text-decoration: none;
        width: 180px;
        align-items: center;
        margin-top: 40px;
}
.btn-box a{
    font-size: 20px;
    align-items: center;
    justify-content: center;
    
    

}
.btn-box a:hover{
    transform: none;
    /* transition: all linear 1s ; */
    /* transform: rotateY(360deg) scale(1.2 , 1); */
    /* background-color: red; */
    color: green;
    border: 1px solid gray;
    height: 60px;
    

}

      .image{
        /* position: absolute; */
        display: flex;
        width: 100%;
        height:710px;
        padding: 100px;
        justify-content: center;
        align-items: center;
        background-image: url(./images/logo.png);
        background-repeat: no-repeat;
        background-size: cover;
        
        
    
    }
     .detail-box h1 {
        font-size: 3rem;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 15px;
        color: #ffffff;
        font-family: 'Nunito', sans-serif;  
    }
    .detail-box p{
        font-size: 14px;
        color: #ffff;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        
        
    }
    .detail-box{
    margin-left: -40%;
    margin-top: -10%;
    }

    .container h2{
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 30px;
    }

    .container p{
        display: flex;
        justify-content: center;
        font-size: 20px;
        
    }

    .container .box div{
        height: 300px;
        width: 20%;
    }

    .container .box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
       
        margin-left: 10%;
        margin-top: 50px;
       
        gap: 40px;
        
    
    }
    
    .container .box .img-box1{
        display: flex;
        justify-content: center;
      
        
        
        background-color: #62d2a2;
        border-radius: 100%;
        width: 90px;
        height: 90px;
        padding: 20px;
        
        margin-top: 4%;
        justify-content: center;
        align-items: center;
    }
    .container .box .img-box1 img{
        display: flex;
      height: 50px;
      width: 50px;
      justify-content: center;
    }
    .container .box .detail-box1 h3{
        display: flex;
        justify-content: center;
      
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.25rem;
        font-family: 'Nunito', sans-serif;
        
    }

    .container .box .detail-box1 p{
        display: flex;
        justify-content: center;
        width: 100px;
       
        font-family: 'Nunito', sans-serif;
        font-size: 15px;
    }

    .container .box .img-box2{
        display: flex;
        justify-content: center;
        margin-bottom: 15%;
        background-color: #62d2a2;
        border-radius: 100%;
        width: 90px;
        height: 90px;
        padding: 20px;
       
        justify-content: center;
        align-items: center;

    }

    .container .box .img-box2 img{
        display: flex;
      height: 50px;
      width: 50px;
      justify-content: center;
    }

    .container .box .detail-box2 h3{
        display: flex;
        justify-content: center;
        
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.25rem;
        font-family: 'Nunito', sans-serif;
        
    }

    .container .box .detail-box2 p{
        display: flex;
        justify-content: center;
        width: 100px;
       
        font-family: 'Nunito', sans-serif;
        font-size: 15px;
    }
       
    .container .box .img-box3{
        display: flex;
        justify-content: center;
        margin-bottom: 15%;
        background-color: #62d2a2;
        border-radius: 100%;
        width: 90px;
        height: 90px;
        padding: 20px;
       
        justify-content: center;
        align-items: center;

    }

    .container .box .img-box3 img{
        display: flex;
      height: 50px;
      width: 50px;
      justify-content: center;
    }

    .container .box .detail-box3 h3{
        display: flex;
        justify-content: center;
       
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.25rem;
        font-family: 'Nunito', sans-serif;
        
    }

    .container .box .detail-box3 p{
        display: flex;
        justify-content: center;
        width: 100px;
       
        font-family: 'Nunito', sans-serif;
        font-size: 15px;
    }

    .container .box .img-box4{
        display: flex;
        justify-content: center;
        margin-bottom: 15%;
        background-color: #62d2a2;
        border-radius: 100%;
        width: 90px;
        height: 90px;
        padding: 20px;
      
        justify-content: center;
        align-items: center;
        

    }

    .container .box .img-box4 img{
        display: flex;
      height: 50px;
      width: 50px;
      justify-content: center;
    }

    .container .box .detail-box4 h3{
        display: flex;
        justify-content: center;
       
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.25rem;
        font-family: 'Nunito', sans-serif;
        
        
    }

    .container .box .detail-box4 p{
        display: flex;
        justify-content: center;
        width: 100px;
        
        font-family: 'Nunito', sans-serif;
        font-size: 15px;
        
    }

    .container .box .btn-box1 a{
        display: flex;
    padding: 10px 1px;
    background-color: #62d2a2;
    color: #ffffff;
    border-radius: 5px;
    transition: all 0.3s;
    border: 1px solid #62d2a2;
    text-decoration: none;
    
    justify-content: center;
    }
    .container .box .btn-box1 a:hover {
        color: #62d2a2;
        background-color: white;

    }
    

    .login {
        background: linear-gradient(to top left, #ff00ff 0%, #ffff00 100%);
        border-radius: 15px;
        box-shadow: 12px 5px 20px rgba(0, 0, 0, 0.2);
        padding: 10px 20px;
        transition: transform 0.2s;
        width: 490px;
    
        text-align: center;
        margin-top: 570px;
        margin-left: 35%;
        height:400px;
        align-items: center;
        justify-content: center;
        
    }
    .login h1{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .login p a{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: -30px;
    }
    
    label {
      display: block;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 5px;
      text-align: left;
      color: #555;
      font-weight: bold;
    }
    
    input {
      display: block;
      width: 100%;
    
      margin-bottom: 15px;
      padding: 10px;
      box-sizing: border-box;
      border: 1px solid #ddd;
      border-radius: 5px;
    }
    
    button {
      padding: 15px;
      border-radius: 10px;
      margin-top: 15px;
      margin-bottom: 15px;
      border: none;
      color: white;
      cursor: pointer;
      background-color:#0e8b53;
      width: 100%;
      font-size: 20px;
    
      
      
    }
    button:hover {
    display: flex;
    justify-content: center;
      background: gray;
      color: black;
    
      
    }
    
    
    .wrap{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150%;
      margin-left: -30%;
      
      
    }
    
    .forgot {
        background: linear-gradient(to top left, #ff00ff 0%, #ffff00 100%);
        border-radius: 15px;
        box-shadow: 12px 5px 20px rgba(0, 0, 0, 0.2);
        padding: 10px 20px;
        transition: transform 0.2s;
        width: 400px;
    
        text-align: center;
        margin-top: 570px;
        margin-left: 35%;
        height:400px;
        align-items: center;
        justify-content: center;
      
    }
    .forgot h2{
        display: flex;
        justify-content: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .forgot button{
        display: flex;
        justify-content: center;
        width: 190px;
    }
    .forgot .re-login p{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size:  25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border: 0px solid white;
        border-radius: 7px;
        width: 80px;
        height: 40px;
        margin-left: 80%;
        color: white;
        background-color: gray;
        

    }
    .forgot .re-login p:hover{
        background-color: white;
        color: black;
    }
    .NewUser {
        background: linear-gradient(to top left, #ff00ff 0%, #ffff00 100%);
        border-radius: 15px;
        box-shadow: 12px 5px 20px rgba(0, 0, 0, 0.2);
        padding: 10px 20px;
        transition: transform 0.2s;
        width: 400px;
    
        text-align: center;
        margin-top: 50%;
        margin-left: 35%;
        height:550px;
        align-items: center;
        justify-content: center;
        
    }
    .NewUser h1{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .NewUser .re-login p{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size:  25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border: 0px solid white;
        border-radius: 7px;
        margin-top: -50px;
        width: 80px;
        height: 40px;
        margin-left: 80%;
        color: white;
        background-color: gray;
        

    }
    .NewUser .re-login p:hover{
        background-color: white;
        color: black;
    }
    #check {
        display: none;
    }
  #bars {
    display: none;
} 
/* .container .img-box {
    display: flex;
    box-shadow: 1px 3px 5px  white;
    width: 26%;
    height: 100px;
    border: 1px solid black;
    border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
} */

.container .img-box img{
    display: flex;
    width: 500px;
    height: 310px;
    border-radius: 15px;
    margin-left: 200px;
    margin-top: 70px;
}
.container .About h2{
    display: flex;
    margin-left: 200px;
    
    

}
.container p{
    display: flex;
    font-size: 15px;
    /* margin-left: 700px; */
}



    @media(max-width: 430px){

         #navbar #links  {
            
            display: none;
            
        }
        #navbar{
            display: none;
            width: 100%;
        }
       

         #links{
            display: none;
            padding: 5px 25px;
            margin: 5px 0;
        }
        
        #bars{
            display: block;
        }

         #bars i{
            display: block;
            position: absolute;
            z-index: 999;
            right: 10%;
            
            top: 6%;
            padding: 5px 25px;
            margin: 5px 0;
            align-items: center;
            justify-content: center;
            border: 1px solid white;
            background-color: #fff;
            color: gray;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
            
        }
       
        #navbar  div nav ul{
            flex-direction: column;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
           
        }

        .container .box {
            flex-direction: column;
            grid-template-columns: auto;
            
        }
        

         .about-section .image-container img{
            display: flex;
            width: 70%;
        height: 180px;
        margin-top: 130px;
        margin-left: 2%;
        }
         .about-section .image-container img:hover{
            transform: scale( 1.1 );
            transition: all ease 2s;
        }
         .about-section .text-container button{
          display: flex;
          width: 70%;
        }
        .about-section .text-container button:hover{
            color: black;
            background-color: #006c4b;
        }
        .container h1{
            display: flex;
            width: 110%;
            margin-left: -18px;
        }
        .card img:hover{
            transform: scale(1.1);
            transition: all ease 3s;
        }
        .container  .form-container{
            display: flex;
            width: 90%;
            margin-left: 2px;
        }
         .form-container h2{
            display: flex;
            width: 80%;
            margin-left: 20%;
            
        }
        .container  .form-container form{

            width: 100%;
            height: 50px;
            margin-top: 4pc;
            margin-left: -90%;
        }
         .container .map-container  iframe{
            display: flex;
            width: 61%;
           
        }
         .reach-at {
            
            margin-left: -7%;
        }

        .social-links{
            display: flex;
        }
        .newsletter{
           width: 30%;
           height: 10px;
           
           margin-left: -6%;
        }
        .links{
            margin-left: -5%;
        }
        .newsletter input{
            width: 20%;
            height: 40px;
            margin-left: 15%;
        }
        .newsletter .ic{
            width: 100%;
            height: 40px;
            margin-left: 15%;
            

        }

        .fa-facebook-f:hover{
            color: #316FF6 !important;
            
            
           }
           .fa-twitter:hover{
            color:  #1da1f2 !important;
            
           }
           .fa-linkedin-in:hover{
            color:  #0077B5 !important;
            
           }
           .fa-instagram:hover{
            color: rgb(255, 0, 93) !important;
            
           }



        #check:checked~#navbar #links  {
            display: flex !important;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column !important;
            position:absolute;
            width: 100%;
            height: 65vh;
            
            left: 0%;
            background-color: #10ac8a;
            
        }
        #check:checked~.image {
             padding-top: 600px;
        }
    
        .container .img-box img{
            width: 350px;
            margin-left: 5%;
        }
        
       
        
        
      

    }

    .action-section{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container :hover{
        color: black;
    }
    .departments:hover{
        color: blanchedalmond;
    }
    
    .action-section h1{
        display: flex;
        justify-content: center;
    
    }
    .action-section p{
        display: flex;
        justify-content: center;
        color: black;
    
    }
    .action-section .pera{
        display: flex;
        justify-content: center;
        color: rgb(19, 18, 18);
    
    }
    
    .action-section h2 {
        display: flex;
        justify-content: center;
        color: black;
    
    }
    
    .container {
        padding: 20px;
        
    }
    
    .container h1 {
        font-size: 2.5em;
        margin-bottom: 10px;
        justify-content: center;
        
    }
    
    .container p {
        font-size: 1.1em;
        margin-bottom: 40px;
        justify-content: center;
        align-items: center;
    }
    
    .departments {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        
    }
    
    .department {
        background: white;
        border-radius: 10px;
        padding: 20px;
        margin: 10px;
        width: 220px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .department h2:hover{
        color: lightgreen;
    }
    .department p:hover{
        color: lightgreen;
    }
    
    .icon {
        width: 50px;
        height: 50px;
        margin: auto;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #006c4b;
        font-size: 1.5em; /* Replace with icons as necessary */
    }
    
    .cardiology {
        background-image: url('./images/s1.png');
        background-size: contain;
        background-repeat: no-repeat;
        
    }
    .cardiology h2{
        justify-content: center;
    
    }
    
    .diagnosis {
        background-image: url('./images/s2.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .surgery {
        background-image: url('./images/s3.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .first-aid {
        background-image: url('./images/s4.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    h2 {
        font-weight: bold;
        margin: 10px 0;
    }
    
    .view-all {
        background-color: #92E7C6;
        border: none;
        padding: 10px;
        width: 100px;
        border-radius: 5px;
        cursor: pointer;
        color: white;
        font-weight: bold;
        text-align: center;
        margin-top: 20px;
        margin-left: 40%;
    }
    
    .view-all:hover {
        background-color: #80E0B3;
    }

    .about-section {
        display: flex;
        justify-content: center;
        /* margin: 0.10%; */
        background-color: white;
        /* border-radius: 10px; */
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    }
    
    .image-container {
        width: 100%;
        /* flex: 1; */
        overflow: hidden;
        
    }
    
    .image-container img {
        width: 50%;
        height: auto;
        margin-top: 130px;
        margin-left: 180px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        
    }
    .image-container img:hover{
        transform: scale( 1.1 );
        transition: all ease 2s;
    }
    
    .text-container {
        width: 100%;
        /* flex: 1; */
        padding: 10%;
        margin-left: -25%;
    }
    
    .text-container h2 {
        font-size: 24px;
        color: black;
        /* margin-left: 25%; */
    }
    
    .text-container p {
        color: black;
        margin-top: 20px;
        /* margin-left: 25%; */
    }
    
    button {
        background-color: #007a5e;
        width: 20%;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        cursor: pointer;
        /* margin-left: 25%; */
    }
    
    .text-container button:hover {
        color: black;
    }
    .action-section{
        display: flex;
        justify-content: center;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

    }


    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }

    .doctor-section .container p{
        display: flex;
        justify-content: center;
        margin-left: 10%;
    }
    
    
    h1 {
        font-size: 2.5em;
        margin-bottom: 10px;
    }
    
    p {
        max-width: 800px;
        margin: 0 auto 20px auto;
        
    }
    
    .card-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
    
    }
    
    .cards {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap; /* Allow cards to wrap on smaller screens */
    }
    
    .card {
        
        background: white;
        color: black; /* Text color for the card */
        border-radius: 10px; /* Rounded corners */
        padding: 15px;
        height: 400px;
        width: 300px; /* Set a fixed width for consistency */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
    }

    
    .card img {
        width: 100%;
        height: 300px;
        border-radius: 10px;
        flex-wrap: wrap;                    /* Match card corners */
    }
    .card img:hover{
        transform: scale(1.1);
        transition: all ease 3s;
    }

     
   

    

    
    
    

    .doctor-section{
        display: flex;
        justify-content: center;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

    }
    .get-touch{
        display: flex;
        justify-content: center;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        
    }

    .container {
        padding: 20px;
        max-width: 1200px;
        margin: auto;
        justify-content: center;
        align-items: center;
        
    }
    .container h1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container p{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .form-container {
        flex: 1;
        height: 360px;
        width: 200%;
        padding: 10px;
        background-color: #fff;
        margin-left: -60%;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    .form-container h2 {
        margin-bottom: 20px;
        font-size: 24px;
        text-align: left;
        color: black;
    }
    
    .form-container input,
    .form-container textarea {
        width: 100%;
        padding: 9px;
        margin-bottom: 15px;
        border: 1px solid black;
        border-radius: 4px;
    }
    
    .form-container button {
        padding: 10px;
        background-color: #20B2AA;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }
    
    .form-container button:hover {
        background-color: #1E5B55;
    }
    
    .map-container {
        flex: 1;
        height: 500px;
        width: 504%;
        margin-left: -202%;
       

        
    }
    
    .map-container iframe {
        display: flex;
        width: 100%;
        height: 100%;
        
       
    }
    

    footer {
        padding: 20px 0;
        color: white;
    }
    
    .footer-container {
        display: flex;
        justify-content: space-around;
        align-items: flex-start; /* Align the items at the top */
        max-width: 1200px;
        margin: 0 auto;
        padding: 30px;
    }
    .social-links i{
        
        margin: 0 10px;
        color: red;
        font-size: 20px;
        border: 0px solid white;

    }
    /* .social-links  a i:hover{
        color: #316FF6 !important;
        /* background-color: blue; */
    
   .fa-facebook-f:hover{
    color: #316FF6 !important;
    
    
   }
   .fa-twitter:hover{
    color:  #1da1f2 !important;
    
   }
   .fa-linkedin-in:hover{
    color:  #0077B5 !important;
    
   }
   .fa-instagram:hover{
    color: rgb(255, 0, 93) !important;
    
   }


    
    h3 {
        margin-bottom: 10px;
    
    }
    
    p, ul {
        margin: 5px 0;
    }
    
    ul {
        list-style-type: none; /* Remove bullet points */
        padding: 0;
    }
    
    a {
        color: white; /* Link color */
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline; /* Underline on hover */
    }
    
    .newsletter input {
        padding: 15px;
        width: 98%;
        /* margin-left: 90px; */
        border: none;
        border-radius: 5px;
    }
    
    .newsletter button {
        padding: 10px;
        width: 98%;
        margin-left: -0%;
        margin-top: 10px;
        border: none;
        border-radius: 5px;
        background-color: #5EBF89; /* Button color */
        color: white;
        cursor: pointer;
    }
    .newsletter button:hover{
        background-color: #006c4b;
        
        border: 1px solid #62d2a2;
        color: #5EBF89;
    
    }
    
    .footer-bottom {
        text-align: center;
        /* margin-top: 8px; */
        font-size: 0.9em; /* Smaller font for the bottom text */
    }
    .footer{ 
      background-color: #007a5e;
    
    }


    
    
   
    

    


    
    
